.refresh {
  transition: transform .4s ease-in-out;
  grid-column-start: 4;
}

.refresh:hover {
  cursor: pointer;
  color: rgb(0, 119, 255);
  transform: rotate(180deg);
}

@media screen and (max-width: 720px) {
  .refresh {
    transform: scale(0.3);
  }

  .refresh:hover {
    transform: rotate(180deg) scale(0.3);
  }
}